{{ partial "header.html" . }}{{ $baseurl := .Site.BaseURL }}{{ with (index .Site.Data.maps (substr $.File.LogicalName 0 -3)) }}
  <div id="map-content">
    <img src="/images/BYU.png" class="logo" alt="BYU" />{{ if .header }}
    <div><h1 id="program">{{ if .header.title }}{{ .header.title }}{{ end }} </h1></div>
    <div><h2 id="department">{{ if .header.department }}{{ .header.department }}{{ end }} </h2></div>
    <div id="header">
      <p>{{ if .header.note }}{{ .header.note | markdownify }}{{ end }} <br/>{{ if .headNotes.notes.markdown }}{{ .headNotes.notes.markdown | markdownify }}{{ end }} </p>
    </div>{{ end }}
    <div id="wrapper">{{ if .geRequirements }}
      <div id="university-core">
        <p class="university-core-header">University Core Requirements</p>
        <table width="100%" style="border-collapse:collapse">
          <tbody>
            <tr>
              <td class="ucr-header-1"><p>Requirements</p></td>
              <td class="ucr-header-2"><p> </p></td>
              <td class="ucr-header-3"><p> </p></td>
              <td class="ucr-header-4"><p>Suggested Classes</p></td>
            </tr>{{ range .geRequirements }}{{ if (eq .type "heading") }}
            <tr>
              <td colspan="4" class="ucr-subheader"><p>{{ if .text }}{{ .text }}{{ end }} </p></td>
            </tr>{{ else }}
            <tr>
              <td class="ucr-content-1"><p>{{ if .text }}{{ .text }}{{ end }} </p></td>
              <td class="ucr-content-2"><p> </p></td>
              <td class="ucr-content-3"><p> </p></td>
              <td class="ucr-content-4"><p>{{ if .suggestions }}{{ delimit .suggestions ", " }}{{ end }} </p></td>
            </tr>{{ end }}{{ end }}
          </tbody>
        </table>
      </div>{{ end }}
      <div id="graduation-requirements">
        <p class="graduation-header">Graduation Requirements</p>
        <div class="gr-content-1"><p>Minimum residence hours required<span class="gr-content-2">30</span></p></div>
        <div class="gr-content-1"><p>Minimum hours needed to graduate<span class="gr-content-2">120</span></p></div>
      </div>
    </div>
    <div id="wrapper2">{{ if .programRequirements }}
      <div id="program-requirements">
        <p class="program-header">Program Requirements <span class="program-credits">(? total hours)</span></p>
        <div id="program-requirements-col">{{ if .programRequirements.programText }}
          <div>{{ delimit .programRequirements.programText ", " }}</div>{{ end }}{{ if .programRequirements.requirements }}{{ range .programRequirements.requirements }}
          <div class="pr-subheader-1"><p><span class="pr-requirement">{{ .label.heading }}</span> {{ .label.completion }}</p></div>{{ if .headerNotes }}{{ range .headerNotes }}
          <div class="pr-note"><p>{{ . }}</p></div>{{ end }}{{ end }}{{ if .requirements }}{{ range .requirements }}{{ if .label }}
          <div class="pr-subheader-2"><p><span class="pr-requirement">{{ .label.heading }}</span> {{ .label.completion }}</p></div>{{ end }}{{ if .headerNotes }}{{ range .headerNotes }}
          <div class="pr-note"><p>{{ . }}</p></div>{{ end }}{{ end }}{{ if .courses }}{{ range .courses }}
          <div class="pr-content-1"><p>{{ .courseTitle }} - {{ .courseDescription }}<span class="pr-content-2">{{ .credits }}</span></p></div>{{ end }}{{ end }}{{ if .requirements }}{{ range .requirements }}{{ if .label }}
          <div class="pr-subheader-3"><p><span class="pr-requirement">{{ if .label.heading }}{{ .label.heading }}{{ end }}</span><br>{{ if .label.completion }}{{ .label.completion }}{{ end }}</p>{{ if .headerNotes }}{{ range .headerNotes }}
            <div class="pr-note"><p>{{ . }}</p></div>{{ end }}{{ end }}{{ if .courses }}{{ range .courses }}
            <div class="pr-content-1"><p>{{ .courseTitle }} - {{ .courseDescription }}<span class="pr-content-2">{{ .credits }}</span></p></div>{{ end }}{{ end }}{{ if .requirements }}{{ range .requirements }}{{ if .label }}
              <div class="pr-subheader-3"><p><span class="pr-requirement">{{ if .label.heading }}{{ .label.heading }}{{ end }}</span><br>{{ if .label.completion }}{{ .label.completion }}{{ end }}</p>{{ if .headerNotes }}{{ range .headerNotes }}
                <div class="pr-note"><p>{{ . }}</p></div>{{ end }}{{ end }}{{ if .courses }}{{ range .courses }}
                <div class="pr-content-1"><p>{{ .courseTitle }} - {{ .courseDescription }}<span class="pr-content-2">{{ .credits }}</span></p></div>{{ end }}{{ end }}{{ if .footerNotes }}{{ range .footerNotes }}
                <div class="pr-note"><p>{{ . }}</p></div>{{ end }}{{ end }}
              </div>{{ end }}{{ end }}{{ end }}{{ if .footerNotes }}{{ range .footerNotes }}
            <div class="pr-note"><p>{{ . }}</p></div>{{ end }}{{ end }}
          </div>{{ end }}{{ end }}{{ end }}{{ if .footerNotes }}{{ range .footerNotes }}
          <div class="pr-note"><p>{{ . }}</p></div>{{ end }}{{ end }}{{ end }}{{ end }}{{ if .courses }}{{ range .courses }}
          <div class="pr-content-1"><p>{{ .courseTitle }} - {{ .courseDescription }}<span class="pr-content-2">{{ .credits }}</span></p></div>{{ end }}{{ end }}{{ if .footerNotes }}{{ range .footerNotes }}
          <div class="pr-note"><p>{{ . }}</p></div>{{ end }}{{ end }}{{ end }}{{ end }}{{ if .programRequirements.notes }}{{ range .programRequirements.notes }}
          <div class="pr-note">{{ . }}</div>{{ end }}{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  {{ if .firstPageFooter }}{{ if .firstPageFooter.footers }}{{ if .firstPageFooter.footers.markdown }}
     <div id="footer-page-1">
       <p>{{ .firstPageFooter.footers.markdown | markdownify }} </p>
     </div>{{ end }}{{ end }}{{ end }}
  {{ if .secondPageNotes.notes.markdown }}
      <h2 id="program-2">{{ .secondPageNotes.notes.markdown | markdownify }}</h2><br/>
  {{ end }}
    <div id="wrapper2">{{ if .suggestedSequence }}
      <div id="sequence">{{ if .suggestedSequence.title }}
        <p class="sequence-header">{{ .suggestedSequence.title }}</p>{{ end }}
        <div id="sequence-col">{{ if .suggestedSequence.notes.markdown }}
          <div class="sequence-note">{{ .suggestedSequence.notes.markdown | markdownify }}</div>{{ end }}{{ range .suggestedSequence.years }}
          <div class="sequence-block">{{ if .yearTitle }}
            <div class="sequence-year"><p>{{ .yearTitle }}</p></div>{{ end }}{{ if .semesters }}{{ range .semesters }}
            <div class="sequence-semester"><p>{{ .title }}</p></div>{{ if .suggestions }}{{ range .suggestions }}
            <div class="sequence-1"><p>{{ .text | markdownify }}<span class="sequence-2">{{ .hours }}</span></p></div>{{ end }}
            <div class="sequence-total-1"><p>Total Hours<span class="sequence-total-2"> {{ .hours }}</span></p></div>{{ end }}{{ end }}{{ end }}
          </div>{{ end }}
  {{ if .postSuggestedSequenceNotes.notes.markdown }}
          <div class="sequence-note">{{ .postSuggestedSequenceNotes.notes.markdown | markdownify }}</div>{{ end }}
        </div>
      </div>{{ end }}
  {{ if .customSections }}
      <div id="other">{{ range $i, $stuff := .customSections }}
        <div id="other-{{add $i 1 }}">
          <p class="other-header">{{ .sectionTitle }}</p>
          <p class="other-body">{{ .details.markdown | markdownify }}</p>
        </div>{{ end }}
      </div>{{ end }}
    </div> 
  {{ if .secondPageFooter.footers.markdown }}
    <div class="second-page-footer">{{ .secondPageFooter.footers.markdown | markdownify }}</div>{{ end }}
  </div>
{{ end }}
{{ partial "footer.html" . }}
