/*body, html {
  background-color: #eeeeee;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  margin: 0;
  padding: 0;
  background: #036;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #444;
}*/

a, a:link, a:visited, a:active  {
    color:#369;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

h2 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 20px;
  font-family: "Gill Sans","Gill Sans MT","Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
}

h3 {
  background-color: #eeeeee;
	font-size: 18px;
}
/****Scrollbar Styles****/
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track { 
    background-color: #ffffff; 
	border-radius: 10px;
	 -webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.3);
}
/****Header Styles****/
.front-page-header {
    background: #036;
    text-align: center;
	z-index: 1000;
}
.menu-btn {
    display: none;
    cursor: pointer;
}
.menu-btn-class {
    display: none;
    position: fixed;
    font-size: 36px;
    color: #fff;
    margin-top: 26px;
    margin-left: 28px;
}
.header-logo {
    padding: 20px 0;
}
.header-logo img {
	margin: 0 auto;
	display: block;
}
.header-logo-menu {
    background: #011948;
    padding-top:100px;
    text-align: center;
    border-bottom: 1px solid #336699;
    box-shadow: 0 8px 12px rgba(0,0,0,.2);
}
.header-logo-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-logo-menu li {
  display: inline-block;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  margin: auto;
  margin-right: -4px;
  position: relative;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
}
.header-logo-menu li:hover {
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  background: #036;
}
.header-logo-menu li:active {
  background: #147;
}
.header-logo-menu li a {
  display: block;
  padding: 10px 25px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 701px){
   .header-logo .header-logo-mobile{
	display: none;
  }
  .header-logo .header-logo-desktop{
	display: block;
  }
}
@media (min-width: 451px) and (max-width: 700px){
   .header-logo .header-logo-mobile{
	display: block;
  }
  .header-logo .header-logo-desktop{
	display: none;
  }
  .header-logo-menu{
	  display: none;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn-class {
	display: block;
	margin-top: 24px;
	margin-left: 14px;
	font-size: 32px;
  }
}
@media (max-width: 450px) {
  .header-logo .header-logo-mobile{
  display: block;
  }
  .header-logo .header-logo-desktop{
  display: none;
  }
  .header-logo-menu{
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn-class {
  display: block;
  margin-top: 24px;
  margin-left: 14px;
  font-size: 32px;
  }
  .header-logo .header-logo-mobile {
    float: right;
    padding-right: 5vw;
    padding-top: 3px;
    width: 80%;
  }
}
@media (max-width: 325px){
  .menu-btn-class {
	margin-left: 5px;
  }
}
.pushy{
	background-color: #025;
	color: #fff;
}
.pushy h2{
	font-size: 28px;
	font-weight: 300;
	margin: 0;
	padding: 1em 0;
	padding-left: 30px;
}
.pushy h2:before{
	content: '\f060';
    font-family: 'FontAwesome';
    padding-right: 10px;
}
.pushy h2:hover {
	background-color: #369;
}
.pushy ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.pushy a {
    display: block;
    color: #fff;
	font-size: 24px;
	font-weight: 300;
	border: 0;
	padding: 16px 30px;
    text-decoration: none;
}
.pushy a .fa{
    padding-right: 10px;
}
.pushy a:hover {
	background-color: #369;
}
.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -ms-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}
.front-page-header-logo-img {
	display: block;
	margin: 20px auto 20px auto;
}
.front-page-header {
	position:fixed;
	z-index: 100;
	top:0px;
	left:0px;
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: #036;
	border-bottom: 1px solid #336699;
	/*box-shadow: 0 8px 12px rgba(0,0,0,.2);*/
}
#front-page-footer {
	width: 100%;
	overflow: hidden;
	background-color: rgba(68,68,68,0.4);
}
#front-page-content-1 input {
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, .9)
}
#front-page-content-1 input:focus {
    background-color: #fff;
}
input#search::-webkit-input-placeholder,
input#search::-moz-placeholder,
input#search:-ms-input-placeholder {
    color: #888;
}
/****Tile Slide Styles****/
#ucatCollegeSlider {
    width:100%;
    height:300px;
    position: relative;
}

#ucatCollegeSlider div.scrollableArea>div {
    position: relative;
    float: left;
}
div.scrollingHotSpotLeft,
div.scrollingHotSpotRight{
	z-index: 50;
}
.front-page-college-tile {
    width:280px;
	height: 335px;
    margin: 10px;
	font-weight: 300;
    background-color: #fff;
	box-shadow: 0 8px 12px rgba(0,0,0,.2);
	color: #888;
	-webkit-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
}
.front-page-college-tile:hover {
    -webkit-box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.3);
}
.front-page-college-tile a{
	text-decoration: none;
	color: #444;
	display: block;
    font-size: 26px;
}
.front-page-college-tile a:hover{
	text-decoration: underline;
}
.front-page-college-tile-image {
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.front-page-college-tile-image img{
	width: 100%;
	height: auto;
}
.front-page-college-tile-title,
.front-page-college-tile-long-title {
	padding: 0;
}
.front-page-college-tile-title{
	font-size: 18px;	
}
.front-page-college-tile-title a {
    padding: 15px 20px 75px 20px;
}
.front-page-college-tile-long-title {
    position: relative;
    top: -75px;
    padding: 0 20px;
}
.scrollbar {
    margin: 2em 0 1em 0;
    height: 10px;
}
.scrollWrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 300px;
}

.scrollableArea {
	position: relative;
	width: auto;
	height: 300px;
}

.front-page-data, .front-page-content {
	position:relative;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.front-page-college {
	position: relative;
	display: block;
	float: left;
	width:280px;
	height:300px;
	overflow:hidden;
	padding:20px 10px 0px 10px;
}
.front-page-college img {
	width:200px;
	height:200px;
	margin: 0px auto 0px auto;
    display: block;
}
.front-page-college h2 {
	width:100%;
    font-size:20px;
    font-weight:normal;
	text-align: center;
}

#front-page-content-1 {
	padding-top: 150px;
	text-align: center;
	color: white;
	background-image: url(../images/background1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
}

.search {
	text-align: center;
}

.search label {
	font-size: 48px;
	display: block;
	padding: 75px 0;
	padding-top: 0;
}

.search input {
	font-size: 24px;
	width: 80%;
	color: #888;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    padding: 10px 15px;
}

@media (max-width: 750px) {
	.search input {
		font-size: 3.25vw;
	}
}

input#search::-webkit-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f002  ';
}
input#search::-moz-placeholder::before {
    font-family: fontAwesome;
    content:'\f002  ';
}
input#search:-ms-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f002  ';
}
input#search:-moz-placeholder::before {
    font-family: fontAwesome;
    content:'\f002  ';
}
.search input:focus {
    color: #444;
}

.catalog-available {
	font-size: 36px;
	padding-top: 42px;
	height: 108px;
}
#available-message {
	background: #369;
	/*display: none;*/
	display: inline-block;
	padding: 15px;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
#available-message:hover {
	text-decoration: none;
	background: #036;
}
.catalog-available a, .catalog-available a:hover, .catalog-available a:active {
	color: white !important;
	text-decoration: none;
}
/****Major Quiz Styles****/
#pick-a-major-popup {
    position: fixed;
	width: 600px;
    height: 590px;
    top: 50%;
    left: 0;
	right: 0;
    background-color: white;
    z-index: 1001;
	margin: 0 auto;
    margin-top: -285px;
}
#pick-a-major-popup h2 {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-weight: 300;
	margin: 0 ;
	text-align: center;
}
#pick-a-major-popup form {
    padding: 30px;
}
#pick-a-major-popup #major-quiz-close-button{
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	cursor: pointer;
}
#pick-a-major-popup #major-quiz-close-button:before {
    content: '\f05c';
    font-family: 'FontAwesome';
	font-size: 32px;
    color: #ccc;
}
.pick-a-major-advice {
	margin: 0;
    color: #aaa;
    text-align: center;
    margin-bottom: 24px;
}
#pick-a-major-popup table {
    width: 100%;
}
#pick-a-major-popup hr {
    border: 0;
    height: 1px;
    background: #ccc;
}
#pick-a-major-popup .pick-a-major-or {
    text-align: center;
}
#pick-a-major-popup label {
    display: block;
    cursor: pointer;
    text-align: center;
    background: #ccc;
    color: #fff;
    border-radius: 2px;
    padding: 7px 10px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
}
#pick-a-major-popup label:hover {
    background: #aaa;
}
#pick-a-major-popup label:active {
    background: #888;
}
#pick-a-major-popup label:before {
    content: '\f00c  ';
    font-family: 'FontAwesome';
    color: #ccc;
}
#pick-a-major-popup label:hover:before {
    color: #fff;
}
#pick-a-major-popup input[type=radio] {
    display: none;
}
#pick-a-major-popup input[type=radio]:checked + label {
    background: #888;
}
#pick-a-major-popup input[type=radio]:checked + label:before {
    color: #fff;
}
#pick-a-major-popup input[type=submit] {
    width: 100%;
    color: #fff;
    background: #369;
    padding: 10px;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 16px;
	margin-top: 2em;
	cursor: pointer;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
}
#pick-a-major-popup input[type=submit]:hover {
    background: #147;
}
#pick-a-major-popup input[type=submit]:active {
    background: #025;
}
@media (min-width: 0) and (max-width: 600px){
	#pick-a-major-popup {
		width: 100%;
		height: auto;
	}
	#pick-a-major-popup h2 {
		font-size: 250%;
	}
	#pick-a-major-popup form {
		padding: 10px;
	}
	#pick-a-major-popup #major-quiz-close-button{
		margin: 5px;
	}
}
#front-page-content-2 {
	background-color: #025;
    color: #fff;
	text-align: center;
}

#front-page-content-2 a,
#front-page-content-2 a:link,
#front-page-content-2 a:visited,
#front-page-content-2 a:active,
#front-page-content-2 a:hover  {
    color:#fff;
    text-decoration:none;
}

.user-menu {
	text-align: left;
	display: inline-block;
	margin: 40px;
	padding: 30px;
}

.user-menu:hover {
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 8px 12px rgba(0,0,0,.2);
    border: 0;
    background: rgba(255,255,255, 0.1);
}

.user-menu-icon {
	text-align: center;
	font-size: 80px;
}

.user-menu-title {
	font-size: 36px;
}

.user-menu-description {
	font-size: 20px;
}

@media (max-width: 1410px) {
	.user-menu {
		margin: 40px;
		padding: 30px;
	}
}
@media (min-width: 0) and (max-width: 820px){
	.user-menu {
		float: left;
		width: 50%;
		margin: 0;
		text-align: center;
		vertical-align: top;
		box-sizing: border-box;
	}
	.user-menu:nth-of-type(3) {
		clear: both;
	}
}
@media (min-width: 0) and (max-width: 820px){
	.user-menu-title {
		font-size: 28px;
	}
	.user-menu-description{
		font-size: 16px;
	}
}
#front-page-content-3 {
	text-align: center;
	background: #eee;
}
#slider-title {
	padding: 50px 0;
	font-size: 40px;
}
#ucatCollegeSlider {
	padding-bottom: 50px;
	height: 365px;
    text-align: left;
}
div.scrollingHotSpotRight,
div.scrollingHotSpotLeft {
    height: 86%;
}
#front-page-content-4 {
	background-color: #002255;
	color: white;
	text-align: center;
}
#front-page-content-4 select {
	font-size: 25px;
    width: 100%;
	border: 1px solid #ccc;
    background: #fbfbfb;
    padding: 7px 15px;
    border-radius: 2px;
    color: #444;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    margin-bottom: 40px;
}
#study-here {
	text-align: left;
	font-size: 40px;
	display: inline-block;
	margin: 40px;
	width: 40%;
}
#pick-major {
	text-align: left;
	font-size: 40px;
	display: inline-block;
	margin: 40px;
	width: 40%;
}
@media (max-width: 870px) {
	#study-here, #pick-major {
		width: 80%;
		margin: 20px 40px;
	}
}
#front-page-content-5 {
	background-color: #FFF;
}
#front-page-content-5 a,
#front-page-content-5 a:hover {
    color: #444;
    text-decoration: none;
}

#front-page-content-6 {
	height: 400px;
	background-image: url(../images/background2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
#sorting-hat {
	max-width: 410px;
	width: 70%;
	background-color: #336699;
	color: white;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	margin: 170px auto;
	border-radius: 2px;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
#sorting-hat:hover {
	cursor: pointer;
	background-color: #114477;
}
#sorting-hat-text {
	padding: 15px 25px;
}
#sorting-hat-text:hover {
	background: #147;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}
#sorting-hat-text:active {
    background: #025;
}

#front-page-content-7 {
	background-color: #ccc;
	text-align: center;
}
#portrait {
	vertical-align: top;
	margin: 100px 2% 100px 10%;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-image: url(../images/worthen.png);
	background-size: cover;
	display: inline-block;
}
#quote {
	text-align: left;
	vertical-align: top;
	margin: 75px auto;
    padding: 30px;
	width: 60%;
	display: block;
    background-color: rgba(255,255,255,0.85);
}
.definition-title {
    font-size: 30px;
    color: #444;
    font-weight:700;
}
.definition-pronounce {
    font-size: 18px;
    color: #444;
    font-weight:400;
}
.definition-noun {
    font-size: 14px;
    color: #888;
    font-weight:400;
    font-style: italic;
}
.definition-define {
    font-size: 20px;
    color: #666;
    font-weight:400;
    font-style: normal;
    margin-left: 20px;
    margin-top: 10px;
    display: block;
}
@media (max-width: 885px) {
	#portrait {
		vertical-align: top;
		margin: 50px auto;
		width: 50vw;
		height: 50vw;
	}
	#quote {
		width: 80%;
	}
}
@media (max-width: 450px) {
	#quote {
		width: 100%;
		padding: 15px;
	}
}
#front-page-content-8 {
	text-align: center;
	    background: #fff;
}
.policy-list {
	display: inline-block;
	width: 16%;
	margin: 100px 30px;
}
.list-scroll{
    height: 150px;
    overflow-y: scroll;
}
.list-header {
	font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    text-align: left;
    font-size: 2em;
    line-height: 1.5em;
    border-bottom: 1px solid #ccc;
}
.policy-list ul {
	padding: 0;
	list-style-type: none;
	text-align: left;
}
.policy-list li {
	padding-bottom: 5px;
}
@media (max-width: 1000px) {
	.policy-list {
		width: 40%;
		margin: 30px;
	}
}
@media (max-width: 630px) {
	.policy-list {
    	width: 80%;
	}
}



#front-page-colleges {
	background-color: rgba(68,68,68,0.1);
}
#front-page-departments {
	background-color: rgba(68,68,68,0.2);
}
#front-page-programs {
	background-color: rgba(68,68,68,0.3);
}

.front-page-department {
	position: relative;
	display: block;
	float: left;
	width:190px;
	height:300px;
	overflow:hidden;
	padding:20px 5px 0px 5px;
}
.front-page-department img {
	width:150px;
	height:150px;
	margin: 0px auto 0px auto;
    display: block;
}
.front-page-department h3 {
	width:100%;
    font-size:18px;
    font-weight:normal;
	text-align: center;

}

.front-page-program {
	position: relative;
	display: block;
	float: left;
	width:340px;
	height:280px;
    font-size:15px;
    line-height:25px;
    white-space: nowrap;
    text-overflow: ellipsis;
	overflow:hidden;
	padding:20px 10px 0px 10px;
}

/*
 *
 * FOOTER
 *
 */
 #front-page-footer {
  font-family: 'Roboto', sans-serif;
  max-width: none;
  height: 250px;
  background-color: #ddd;
  color: #888;
  border: none;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-bottom: 0px;
  padding: 0px;
}
#front-page-footer .block{
	height: 150px;
}

#front-page-footer ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  list-style: none;
}
#front-page-footer ul li {
  float: left;
  margin: 0 .2em;
  list-style: none;
  line-height: 24px;
}

#front-page-footer li a {
    color: #888;
	font-size: 16px;
	padding: 5px;
}

#front-page-footer .footer-wrappers{
	height: 34px;
}

#front-page-footer .footer-block-soc-wrapper{
	margin-top: 2em;
}

#front-page-footer .footer-block-logo-wrapper{
  height: 115px;
  margin-top: 1.25em;
  padding-top: 1.5em;
  background-color: #ccc;
}

#front-page-footer .footer-block-soc li a{
	color: #888;
	padding: 2px;
}
#front-page-footer .footer-block-soc i{
	font-size: 24px;
}
#front-page-footer .footer-block-contact a {
	font-size: 14px;
}
#front-page-footer .soc-instagram:hover{
	color: #517fa4;
}
#front-page-footer .soc-youtube:hover{
	color: #bb0000;
}
#front-page-footer .soc-google:hover{
	color: #dd4b39;
}
#front-page-footer .soc-facebook:hover{
	color: #3b5998;
}
#front-page-footer .soc-twitter:hover{
	color: #00aced;
}
#front-page-footer .footer-block-menu li{
	font-size: 16px;
}
#front-page-footer .line-spacer{
  
 }
#front-page-footer .footer-block-contact li{
	margin: .5em;
	font-size: 14px;
	
}
#front-page-footer .footer-block-logo {
	width: 190px;
}
#front-page-footer .footer-block-logo li{
	width: 180px;
	font-size: 12px;
	margin: 0;
}
#front-page-footer .footer-block-logo a {
	padding: 0;
	font-size: 12px;
}
#front-page-footer .footer-logo {
	-webkit-filter:  brightness(2.75) grayscale(1);
}
img.footer-logo {
	width: 100%;
	padding-bottom: 10px;
}
#front-page-footer .link-mobile{
  display:none;
}
#front-page-footer li a {
    text-decoration: none;
}
 @media (min-width: 0) and (max-width: 910px) {
  #navigation .menu-btn{
    display:inline-block;
  }
  #navigation #main-menu,
  #secondary-menu,
  #block-superfish-2{
    display:none;
  }
  .search-region-mobile{
    display:inline-block;
  }
  .search-region{
    display:none;
  }

  #front-page-footer .link-text{
    display:inline-block;
  }
 
}

@media (min-width: 0) and (max-width: 550px) {
  #front-page-footer {
	height: 300px;
  }
  #front-page-footer .footer-block-menu li {
	float: none;
  }
  #front-page-footer li a  {
	padding: 0
  }
  #front-page-footer .line-spacer {
   	padding: 0;
  }
  #front-page-footer .footer-wrappers{
	height: 24px;
	margin-top: 1em;
  }  
  #front-page-footer .footer-block-menu-wrapper{
	height: 48px;
  }
  #front-page-footer .footer-block-contact-wrapper{
	height: 58px;
  }
  #front-page-footer .footer-block-logo-wrapper {
	height: 86px;
  }
  #front-page-footer .footer-block-contact li {
	margin: 0 .15em;
  }
  #front-page-footer .footer-block-contact li {
	display: inline-block;
    float: none;
  }
}

.footer, .footer-push {
    z-index: -999;
    position: relative;
    height: 42px;
}

/* SORTING HAT FORM */

.major-quiz-hide {
	display: none;
}

.major-quiz-show#pick-a-major-overlay {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);

}

.not-available-popup {
	width: 70%;
	padding: 50px;
	position: fixed;
	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1500;
	background-color: white;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.not-available-darken {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1499;
}
