<style scope="iron-a11y-announcer">
iron-a11y-announcer {
  display: inline-block;
  position: fixed;
  clip: rect(0px,0px,0px,0px);
}
</style>

<style scope="paper-toast-0">
.paper-toast-0 {
  display: block;
  position: fixed;
  background-color: #323232;
  color: #f1f1f1;
  min-height: 48px;
  min-width: 288px;
  padding: 16px 24px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  margin: 12px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.paper-toast-0.capsule {
  border-radius: 24px;
}

.paper-toast-0.fit-bottom {
  width: 100%;
  min-width: 0;
  border-radius: 0;
  margin: 0;
}

.paper-toast-0.paper-toast-open {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
</style>

<style scope="paper-toolbar-0">
.paper-toolbar-0 {
  display: block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 64px;
  background: #147;
  color: #ffffff;;
}

.paper-toolbar-0.animate {
  transition: height 0.18s ease-in;
}

.paper-toolbar-0.medium-tall {
  height: calc(64px * 2);;
}

.paper-toolbar-0.tall {
  height: calc(64px * 3);;
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar {
  position: relative;
  height: 64px;
  padding: 0 16px;
  pointer-events: none;display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;;
}

@media (max-width: 600px) {
.paper-toolbar-0 {
  height: 56px;
}

.paper-toolbar-0.medium-tall {
  height: calc(56px * 2);
}

.paper-toolbar-0.tall {
  height: calc(56px * 3);
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar {
  height: 56px;
}
}

.paper-toolbar-0 #topBar.paper-toolbar {
  position: relative;
}

.paper-toolbar-0 #middleBar.paper-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.paper-toolbar-0.tall #middleBar.paper-toolbar, .paper-toolbar-0.medium-tall #middleBar.paper-toolbar {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.paper-toolbar-0 #bottomBar.paper-toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar  &gt; *:not([disabled]) {
  pointer-events: auto;
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar  .title {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  pointer-events: none;-ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;;
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar  paper-icon-button[icon=menu] {
  margin-right: 24px;
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar  &gt; .title,.paper-toolbar-0  .toolbar-tools.paper-toolbar [select=".middle"] &gt; .title,.paper-toolbar-0  .toolbar-tools.paper-toolbar [select=".bottom"] &gt; .title {
  margin-left: 56px;
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar  &gt; paper-icon-button + .title,.paper-toolbar-0  .toolbar-tools.paper-toolbar [select=".middle"] paper-icon-button + .title,.paper-toolbar-0  .toolbar-tools.paper-toolbar [select=".bottom"] paper-icon-button + .title {
  margin-left: 0;
}

.paper-toolbar-0 .toolbar-tools.paper-toolbar  &gt; .fit {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  margin: 0;
}

.paper-toolbar-0 .start-justified.paper-toolbar {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.paper-toolbar-0 .center-justified.paper-toolbar {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.paper-toolbar-0 .end-justified.paper-toolbar {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.paper-toolbar-0 .around-justified.paper-toolbar {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.paper-toolbar-0 .justified.paper-toolbar {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
</style>

<style scope="paper-ripple">
paper-ripple {
  display: block;
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

paper-ripple[animating] {
  -webkit-transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}

#background.paper-ripple, #waves.paper-ripple, .wave-container.paper-ripple, .wave.paper-ripple {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#background.paper-ripple, .wave.paper-ripple {
  opacity: 0;
}

#waves.paper-ripple, .wave.paper-ripple {
  overflow: hidden;
}

.wave-container.paper-ripple, .wave.paper-ripple {
  border-radius: 50%;
}

paper-ripple.circle #background.paper-ripple, paper-ripple.circle #waves.paper-ripple {
  border-radius: 50%;
}

paper-ripple.circle .wave-container.paper-ripple {
  overflow: hidden;
}
</style>

<style scope="paper-button-0">
.paper-button-0 {
  display: block;
  position: relative;
}

.paper-button-0[elevation="1"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.paper-button-0[elevation="2"] {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.paper-button-0[elevation="3"] {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.paper-button-0[elevation="4"] {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.paper-button-0[elevation="5"] {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
              0  6px 30px 5px rgba(0, 0, 0, 0.12),
              0  8px 10px -5px rgba(0, 0, 0, 0.4);
}

.paper-button-0[animated] {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-button-0 {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;-ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  min-width: 5.14em;
  margin: 0 0.29em;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 3px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  padding: 0.7em 0.57em;font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;;
}

.paper-button-0[raised].keyboard-focus {
  font-weight: bold;;
}

.paper-button-0:not([raised]).keyboard-focus {
  font-weight: bold;;
}

.paper-button-0[disabled] {
  background: #eaeaea;
  color: #a8a8a8;
  cursor: auto;
  pointer-events: none;;
}

.paper-button-0 paper-ripple.paper-button {
  color:;
}
</style>

<style scope="iron-pages">
iron-pages {
  display: block;
}

iron-pages  &gt; :not(.iron-selected) {
  display: none !important;
}
</style>

<style scope="iron-icon-1">
.iron-icon-1 {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;-ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  fill: currentcolor;
  stroke: none;
  width: 100%;
  height: 100%;
}
</style>

<style scope="iron-icon-0">
.iron-icon-0 {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;-ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  fill: currentcolor;
  stroke: none;
  width: 24px;
  height: 24px;
}
</style>

<style scope="iron-collapse">
iron-collapse {
  display: block;
  transition-duration: 300ms;
  overflow: visible;
}

iron-collapse.iron-collapse-closed {
  display: none;
}

iron-collapse:not(.iron-collapse-opened) {
  overflow: hidden;
}
</style>

<style scope="paper-icon-button-0">
.paper-icon-button-0 {
  display: inline-block;
  position: relative;
  padding: 8px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  line-height: 1;
  width: 40px;
  height: 40px;
  box-sizing: border-box !important;;
}

.paper-icon-button-0 #ink.paper-icon-button {
  color: #212121;
  opacity: 0.6;
}

.paper-icon-button-0[disabled] {
  color: #BDBDBD;
  pointer-events: none;
  cursor: auto;;
}

.paper-icon-button-0:hover {
  ;
}

.paper-icon-button-0 iron-icon.paper-icon-button {
  ;
}
</style>

<style scope="byu-nav-link-0">
.byu-nav-link-0 {
  display: block;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.byu-nav-link-0 a.byu-nav-link {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 14px;
}

.byu-nav-link-0 .touch-target.byu-nav-link {
  white-space: nowrap;
}

.byu-nav-link-0.mobile-view:not(.in-user-menu) {
  padding: 0.5em 5%;
}

.byu-nav-link-0.mobile-view.in-submenu {
  padding-left: 10%;
}

.byu-nav-link-0.primary-nav.mobile-view {
  background-color: #036;border-bottom: 1px solid #025;
  border-top: 1px solid #147;
}

.byu-nav-link-0.primary-nav.mobile-view.in-submenu:last-child {
  border-bottom: 1px solid #147;
}

.byu-nav-link-0.primary-nav.mobile-view.in-submenu:not(:last-child) {
  border-bottom: 1px solid #036;
}

.byu-nav-link-0.primary-nav.mobile-view.in-submenu {
  background-color: #147;
  border-top: 1px solid #369;
}

.byu-nav-link-0.secondary-nav.mobile-view {
  background-color: #369;
  border-bottom: 1px solid #147;
  border-top: 1px solid #628cb6;
}

.byu-nav-link-0.secondary-nav.mobile-view.in-submenu:last-child {
  border-bottom: 1px solid #025;
}

.byu-nav-link-0.secondary-nav.mobile-view.in-submenu:not(:last-child) {
  border-bottom: 1px solid #001948;
}

.byu-nav-link-0.secondary-nav.mobile-view.in-submenu {
  background-color: #025;
  border-top: 1px solid #036;
}

.byu-nav-link-0.in-sidenav.mobile-view {
  background-color: #147;
  border-bottom: 1px solid #036;
  border-top: 1px solid #369;
}

.byu-nav-link-0.full-view.primary-nav, .byu-nav-link-0.full-view.secondary-nav, .byu-nav-link-0.in-user-menu {
  height: 36px;
  padding: 0;
  transition: background 0.1s ease;
  text-align: center;
  box-sizing: border-box;
}

.byu-nav-link-0.full-view.primary-nav:hover {
  color: white;
  background-color: #036;
  background-image: linear-gradient(#369, #036 1px, #025);
}

.byu-nav-link-0.full-view:not(.in-sidenav) .touch-target.byu-nav-link, .byu-nav-link-0.in-user-menu .touch-target.byu-nav-link {
  padding: 8px 16px;
  text-shadow: 0px -1px 0px #000;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.byu-nav-link-0.full-view.secondary-nav:not(:hover) {
  color: #d1e4f6;
}

.byu-nav-link-0.full-view.secondary-nav:hover {
  color: white;
}

.byu-nav-link-0.full-view.in-menu, .byu-nav-link-0.full-view.in-submenu, .byu-nav-link-0.in-user-menu {
  transition: background 0s;
}

.byu-nav-link-0.full-view.in-menu .touch-target.byu-nav-link, .byu-nav-link-0.full-view.in-submenu .touch-target.byu-nav-link, .byu-nav-link-0.in-user-menu .touch-target.byu-nav-link {
  text-shadow: none;
  text-align: left;
  color: #001948;
}

.byu-nav-link-0.full-view.in-menu .touch-target.byu-nav-link:hover, .byu-nav-link-0.full-view.in-submenu .touch-target.byu-nav-link:hover, .byu-nav-link-0.in-user-menu .touch-target.byu-nav-link:hover {
  color: #001948;
  background: #d1e4f6;
}

.byu-nav-link-0.full-view.in-submenu .touch-target.byu-nav-link {
  padding-left: 2.4em;
  padding-right: 2.4em;
}

.byu-nav-link-0.full-view.in-sidenav {
  border: 1px solid transparent;
  border-right: none;
}

.byu-nav-link-0.full-view.in-sidenav .touch-target.byu-nav-link {
  padding: .3em 1em .4em 1.5em;
  font-weight: bold;
  color: #036;
  font-size: 15px;
}

.byu-nav-link-0.full-view.in-sidenav:hover:not([current]) {
  background-color: #e0edf9;
  border-right: 2px solid #91b2d2;
}

.byu-nav-link-0.full-view.in-sidenav[current] {
  background-color: white;
  border-color: #abc8e4;
}
</style>

<style scope="byu-sidenav">
byu-sidenav {
  display: block;
}

byu-sidenav.full-view {
  padding: 1.5em 0;
  box-sizing: border-box;
}
</style>

<style scope="byu-nav-divider">
byu-nav-divider {
  height: 1px;
  background-color: #ddd;
  display: block;
}
</style>

<style scope="byu-nav">
byu-nav {
  display: block;
}

byu-nav:not(.mobile-view) #contentWrapper.byu-nav  &gt; * {
  float: left;
}
</style>

<style scope="byu-page-0">
.byu-page-0 {
  font-size: 14px;
  line-height: 19px;
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #444;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.byu-page-0:not([no-footer]) {
  background-color: #ddd;
}

.byu-page-0 #main-wrapper.byu-page {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.byu-page-0 #header.byu-page {
  display: block;
  background-color: #036;
  border-bottom: 1px solid #036;
  color: white;
}

.byu-page-0 #site-name.byu-page {
  margin: 0 5% .25em;
  font-size: 2.2em;
  line-height: 40px;
}

.byu-page-0 h1#site-name.byu-page [page-title] {
  color: #fff;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Droid Serif", Georgia, serif;
  font-weight: 300;
}

.byu-page-0 #site-name.byu-page  a {
  text-decoration: none;
}

.byu-page-0 #top-row.byu-page {
  padding: .35em 0 .45em;
}

.byu-page-0 #byu-logo.byu-page {
  background: transparent url('https://home.byu.edu/home/sites/default/files/global/img/byu-logo-header.png') 0 0 no-repeat;
  height: 26px;
  width: 70px;
  overflow: hidden;
  display: inline-block;
}

.byu-page-0 #top-row.byu-page {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}

.byu-page-0 #top-row.byu-page .parentName.byu-page {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
  display: none;
}

.byu-page-0 #top-row.byu-page .spacer.byu-page {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.byu-page-0 #user-info.byu-page {
  box-sizing: border-box;
  position: absolute;
  top: 0.25em;
  right: 3%;
}

.byu-page-0 #menu-button.byu-page {
  color: white;
}

.byu-page-0 #menu-button.byu-page paper-icon-button.byu-page {
  ;
}

.byu-page-0 #parent-wrapper.byu-page {
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 3px 2px;
  color: #e0edf9;
  line-height: 1.2;
  letter-spacing: 2px;
  vertical-align: top;
  font-family: Palatino, Georgia, serif;
}

.byu-page-0 #parent-wrapper.byu-page  a {
  color: #e0edf9;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 2px;
}

.byu-page-0 #parent-wrapper.byu-page .default.byu-page:not(:first-child) {
  display: none;
}

@media (max-width: 500px) {
.byu-page-0 #parent-wrapper.byu-page .default.byu-page {
  display: none;
}
}

@media (min-width: 600px) {
.byu-page-0 #header.byu-page {
  background-image: url('https://home.byu.edu/home/sites/default/files/global/img/byu-header-bg.svg');
}

.byu-page-0 #header-content.byu-page {
  padding-right: 3%;
}

.byu-page-0 #site-name.byu-page {
  margin: .25em 4% .4em;
}

.byu-page-0 #top-row.byu-page {
  padding-left: 3%;
}
}

.byu-page-0[full-view] #header.byu-page {
  height: 96px;
  -webkit-background-size: 100% 96px;
  background-size: 100% 96px;
}

.byu-page-0 #header-content.byu-page {
  height: 100%;
  position: relative;
}

.byu-page-0[mobile-view] #navWrapper.byu-page {
  position: fixed;
  z-index: 2000;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background: #025;
  color: white;
}

@media all and (min-width: 320px) {
.byu-page-0[mobile-view] #navWrapper.byu-page {
  width: 250px;
  transform: translateX(-250px);
}
}

.byu-page-0[mobile-view].nav-drawer-opened #navWrapper.byu-page {
  transform: translateX(0);
}

.byu-page-0[mobile-view] #nav-overlay.byu-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 1999;
  display: none;
  opacity: 0.5;
}

.byu-page-0[mobile-view].nav-drawer-opened #nav-overlay.byu-page {
  display: block;
}

.byu-page-0[full-view] #navWrapper.byu-page {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  background-color: #001948;
  border-top: 1px solid #147;
  border-bottom: 1px solid #369;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  color: #e0edf9;
  position: relative;
}

.byu-page-0[full-view] #navWrapper.byu-page &gt; #nav-inner-wrapper.byu-page {
  padding-left: 2%;
}

.byu-page-0[full-view] #secondary-nav-bar.byu-page {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 3%;
}

.byu-page-0 #main-wrapper.byu-page {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.byu-page-0 #main-wrapper.byu-page &gt; #content-wrapper.byu-page {
  padding: 1em 5% 2em;-ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.byu-page-0[mobile-view] #sidenav-wrapper.byu-page {
  display: none;
}

.byu-page-0.has-sidenav #main-wrapper.byu-page &gt; #sidenav-wrapper.byu-page {
  width: 220px;
  background-image: linear-gradient(270deg, #91b2d2, #91b2d2 2px, #d1e4f6 2px, #d1e4f6);
}

.byu-page-0[extra-wide] .width-constrained.byu-page {
  margin: 0 auto;
}

.byu-page-0[extra-wide] #wrapper.byu-page {
  background-image: url('https://map-edit.stage.sim.appdev.byu.edu/bower_components/byu-page/img/main-bg-xwide.png');
  background-size: 600px 375px;
}

.byu-page-0[extra-wide][no-footer] {
  background-image: url('https://map-edit.stage.sim.appdev.byu.edu/bower_components/byu-page/img/main-bg-xwide.png');
  background-size: 600px 375px;
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
.byu-page-0[extra-wide] #wrapper.byu-page {
  background-image: url('https://map-edit.stage.sim.appdev.byu.edu/bower_components/byu-page/img/main-bg-xwide-2x.png');
}

.byu-page-0[extra-wide][no-footer] {
  background-image: url('https://map-edit.stage.sim.appdev.byu.edu/bower_components/byu-page/img/main-bg-xwide-2x.png');
}
}

.byu-page-0 #main-wrapper.byu-page {
  background-color: white;
}

.byu-page-0[extra-wide] #main-wrapper.byu-page {
  box-shadow: 0 0 30px 0 rgba(222, 222, 222, 0.7);
  z-index: 1;
}

.byu-page-0 #navWrapper.byu-page {
  z-index: 10;
}

.byu-page-0[no-footer] #page-footer.byu-page {
  display: none;
}

.byu-page-0 #page-footer.byu-page {
  border-top: 1px solid #ccc;
  background-color: #e8e8e8;
}

.byu-page-0 #page-footer.byu-page &gt; *.byu-page {
  border-top: 1px solid white;
  border-bottom: 1px solid #ccc;
}

.byu-page-0 #page-footer.byu-page &gt; *.byu-page:last-child {
  background-color: #ddd;
  border-bottom-color: #ddd;
}

.byu-page-0 #page-footer.byu-page a.byu-page {
  color: #6b6a69;
  text-decoration: none;
}

.byu-page-0 #footer-institutions.byu-page {
  text-align: center;
  padding: 1.5em 0 2em;
}

.byu-page-0 #sibling-sites.byu-page {
  margin: 0 0 10px;
  padding: 0;
}

.byu-page-0 #sibling-sites.byu-page &gt; *.byu-page {
  padding: 0.1em 1%;
  white-space: nowrap;
  list-style: none;
}

@media (min-width: 500px) {
.byu-page-0 #sibling-sites.byu-page &gt; *.byu-page {
  display: inline-block;
}
}

.byu-page-0 #copyright.byu-page {
  margin-top: 0.5em;
}
</style>

<style scope="byu-wabs-integration">
byu-wabs-integration {
  display: none;
}
</style>

<style scope="byu-user-menu-0">
.byu-user-menu-0 {
  display: block;
}

.byu-user-menu-0 #button.byu-user-menu {
  box-sizing: border-box;
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: none;
  color: #fff;
  padding: 5px 18px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 14px;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;
}

.byu-user-menu-0 #button.byu-user-menu:not(:hover) {
  background: linear-gradient(to bottom, #628cb6, #369);
}

.byu-user-menu-0 #button.byu-user-menu:hover {
  background: linear-gradient(to bottom, #4a79a7, #225588);
}

.byu-user-menu-0 #userMenu.has-menu.byu-user-menu {
  cursor: pointer;
}

.byu-user-menu-0 #userMenu.no-menu.byu-user-menu #menu-icon.byu-user-menu {
  display: none;
}

.byu-user-menu-0 #configuration.byu-user-menu {
  display: none;
}

.byu-user-menu-0 #userMenu.byu-user-menu {
  display: block;
  font-weight: 500;
}

.byu-user-menu-0 #userMenu.byu-user-menu #title.byu-user-menu {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;-ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  cursor: pointer;
  padding: 8px 2px 8px 16px;
  box-sizing: border-box;
  height: 36px;
  min-width: 100px;
  text-align: right;
}

.byu-user-menu-0 #userMenu.byu-user-menu #title.byu-user-menu #title-icon.byu-user-menu {
  transition: transform 0.25s;
}

.byu-user-menu-0[menu-open] &gt; #userMenu.byu-user-menu &gt; #title.byu-user-menu &gt; #title-icon.byu-user-menu {
  transform: rotate(180deg);
}

.byu-user-menu-0 #userMenu.byu-user-menu #title-text.byu-user-menu {
  box-sizing: border-box;
}

.byu-user-menu-0[menu-open] #userMenu.byu-user-menu #title.byu-user-menu {
  background-color: white;
  color: #001948;
  text-shadow: none;
  z-index: 2000;
  position: relative;
  border-radius: 3px 3px 0 0;
}

.byu-user-menu-0 #userMenu.byu-user-menu #contentWrapper.byu-user-menu {
  text-shadow: none;
  color: #001948;
}

.byu-user-menu-0 #userMenu.byu-user-menu #collapse.byu-user-menu {
  position: absolute;
  background-color: white;
  z-index: 1999;
  text-shadow: none;
  color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid #369;
  right: 0;
}

.byu-user-menu-0 #userMenu.byu-user-menu .collapse-wrapper.byu-user-menu {
  position: relative;
}

.byu-user-menu-0 #userMenu.byu-user-menu #customLinks.byu-user-menu  &gt; :first-child:before,.byu-user-menu-0  #userMenu.byu-user-menu #signOut.byu-user-menu:before {
  content: ' ';
  height: 1px;
  background-color: #ddd;
  display: block;
}

@keyframes loading-spinner-byu-user-menu-0 {
0% {
  transform: rotate(0deg);
}

100% {
  transform: rotate(360deg);
}
}

.byu-user-menu-0 #loading-icon.byu-user-menu {
  ;
  animation: loading-spinner-byu-user-menu-0 1s infinite;-ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}
</style>

<style scope="paper-input-container-0">
.paper-input-container-0 {
  display: block;
  padding: 8px 0;;
}

.paper-input-container-0[inline] {
  display: inline-block;
}

.paper-input-container-0[disabled] {
  pointer-events: none;
  opacity: 0.33;;
}

.paper-input-container-0 .floated-label-placeholder.paper-input-container {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.011em;
  line-height: 20px;
}

.paper-input-container-0 .underline.paper-input-container {
  position: relative;
}

.paper-input-container-0 .focused-line.paper-input-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 1);
  height: 2px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);;
}

.paper-input-container-0 .underline.is-highlighted.paper-input-container .focused-line.paper-input-container {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;;
}

.paper-input-container-0 .underline.is-invalid.paper-input-container .focused-line.paper-input-container {
  background: #dd2c00;
  -webkit-transform: none;
  transform: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;;
}

.paper-input-container-0 .unfocused-line.paper-input-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.64);
  height: 1px;;
}

.paper-input-container-0[disabled] .unfocused-line.paper-input-container {
  border-bottom: 1px dashed;
  border-color: rgba(33, 33, 33, 0.64);
  background: transparent;;
}

.paper-input-container-0 .label-and-input-container.paper-input-container {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;position: relative;
  width: 100%;
  max-width: 100%;
}

.paper-input-container-0 .input-content.paper-input-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.paper-input-container-0 .input-content.paper-input-container  label,.paper-input-container-0  .input-content.paper-input-container  .paper-input-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  font: inherit;
  color: rgba(33, 33, 33, 0.64);
  -webkit-transition: -webkit-transform 0.25s, width 0.25s;
  transition: transform 0.25s, width 0.25s;
  -webkit-transform-origin: left top;
  transform-origin: left top;white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;;;
}

.paper-input-container-0 .input-content.label-is-floating.paper-input-container  label,.paper-input-container-0  .input-content.label-is-floating.paper-input-container  .paper-input-label {
  -webkit-transform: translateY(-75%) scale(0.75);
  transform: translateY(-75%) scale(0.75);
  width: 133%;;
}

[dir="rtl"] .paper-input-container-0 .input-content.label-is-floating.paper-input-container  label, .paper-input-container-0[dir="rtl"] .input-content.label-is-floating.paper-input-container  label, [dir="rtl"] .paper-input-container-0 .input-content.label-is-floating.paper-input-container  .paper-input-label,  .paper-input-container-0[dir="rtl"] .input-content.label-is-floating.paper-input-container  .paper-input-label {
  width: 100%;
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

.paper-input-container-0 .input-content.label-is-highlighted.paper-input-container  label,.paper-input-container-0  .input-content.label-is-highlighted.paper-input-container  .paper-input-label {
  color: rgba(33, 33, 33, 1);;
}

.paper-input-container-0 .input-content.is-invalid.paper-input-container  label,.paper-input-container-0  .input-content.is-invalid.paper-input-container  .paper-input-label {
  color: #dd2c00;
}

.paper-input-container-0 .input-content.label-is-hidden.paper-input-container  label,.paper-input-container-0  .input-content.label-is-hidden.paper-input-container  .paper-input-label {
  visibility: hidden;
}

.paper-input-container-0 .input-content.paper-input-container  input,.paper-input-container-0  .input-content.paper-input-container  textarea,.paper-input-container-0  .input-content.paper-input-container  iron-autogrow-textarea,.paper-input-container-0  .input-content.paper-input-container  .paper-input-input {
  position: relative; 
  outline: none;
  box-shadow: none;
  padding: 0;
  width: 100%;
  max-width: 100%;
  background: transparent;
  border: none;
  color: #212121;
  -webkit-appearance: none;
  text-align: inherit;font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;;
}

.paper-input-container-0  [prefix] {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;;-ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

.paper-input-container-0  [suffix] {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;;-ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

.paper-input-container-0 .input-content.paper-input-container  input {
  min-width: 0;
}

.paper-input-container-0 .input-content.paper-input-container  textarea {
  resize: none;
}

.paper-input-container-0 .add-on-content.paper-input-container {
  position: relative;
}

.paper-input-container-0 .add-on-content.is-invalid.paper-input-container  * {
  color: #dd2c00;
}

.paper-input-container-0 .add-on-content.is-highlighted.paper-input-container  * {
  color: rgba(33, 33, 33, 1);
}
</style>

<style scope="paper-input-error-0">
.paper-input-error-0 {
  display: inline-block;
  visibility: hidden;
  color: #dd2c00;font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.011em;
  line-height: 20px;;
  position: absolute;
  left:0;
  right:0;
}

.paper-input-error-0[invalid] {
  visibility: visible;
}
</style>

 <style scope="paper-input-0">
.paper-input-0 {
  display: block;
}

.paper-input-0 input.paper-input::-webkit-input-placeholder {
  color: rgba(33, 33, 33, 0.64);
}

.paper-input-0 input.paper-input:-moz-placeholder {
  color: rgba(33, 33, 33, 0.64);
}

.paper-input-0 input.paper-input::-moz-placeholder {
  color: rgba(33, 33, 33, 0.64);
}

.paper-input-0 input.paper-input:-ms-input-placeholder {
  color: rgba(33, 33, 33, 0.64);
}
</style>

<style scope="paper-menu-0">
.paper-menu-0 .selectable-content.paper-menu  &gt; .iron-selected {
  font-weight: bold;;
}

.paper-menu-0 .selectable-content.paper-menu  &gt; [disabled] {
  color: #BDBDBD;
}

.paper-menu-0 .selectable-content.paper-menu  &gt; *:focus {
  position: relative;
  outline: 0;;
}

.paper-menu-0 .selectable-content.paper-menu  &gt; *:focus:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: currentColor;
  opacity: 0.12;
  content: '';
  pointer-events: none;;
}

.paper-menu-0 .selectable-content.paper-menu  &gt; *[colored]:focus:after {
  opacity: 0.26;
}

.paper-menu-0 {
  display: block;
  padding: 8px 0;
  background: #fff;
  color: #212121;;
}
</style>

<style scope="paper-submenu-0">
.paper-submenu-0 .selectable-content.paper-submenu  &gt; .iron-selected {
  font-weight: bold;;
}

.paper-submenu-0 .selectable-content.paper-submenu  &gt; [disabled] {
  color: #BDBDBD;
}

.paper-submenu-0 .selectable-content.paper-submenu  &gt; *:focus {
  position: relative;
  outline: 0;;
}

.paper-submenu-0 .selectable-content.paper-submenu  &gt; *:focus:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: currentColor;
  opacity: 0.12;
  content: '';
  pointer-events: none;;
}

.paper-submenu-0 .selectable-content.paper-submenu  &gt; *[colored]:focus:after {
  opacity: 0.26;
}
</style>

<style scope="paper-item-0">
.paper-item-0,.paper-item-0  .paper-item.paper-item {
  display: block;
  position: relative;
  min-height: 48px;
  padding: 0px 16px;
}

.paper-item-0 .paper-item.paper-item {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border:none;
  outline: none;
  background: white;
  width: 100%;
  text-align: left;
}

.paper-item-0[hidden],.paper-item-0  .paper-item[hidden].paper-item {
  display: none !important;
}

.paper-item-0.iron-selected,.paper-item-0  .paper-item.iron-selected.paper-item {
  font-weight: bold;;
}

.paper-item-0[disabled],.paper-item-0  .paper-item[disabled].paper-item {
  color: #BDBDBD;;
}

.paper-item-0:focus,.paper-item-0  .paper-item.paper-item:focus {
  position: relative;
  outline: 0;;
}

.paper-item-0:focus:before,.paper-item-0  .paper-item.paper-item:focus:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: currentColor;
  content: '';
  opacity: 0.12;
  pointer-events: none;;
}

.paper-item-0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;cursor: pointer;
}
</style>

<style scope="paper-item-body-0">
.paper-item-body-0 {
  overflow: hidden;display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;-ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;-ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.paper-item-body-0[two-line] {
  min-height: 72px;
}

.paper-item-body-0[three-line] {
  min-height: 88px;
}

.paper-item-body-0  &gt; * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paper-item-body-0  [secondary] {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #727272;font-size: 0.8em;
}
</style>

<style scope="paper-spinner-lite-0">
.paper-spinner-lite-0 {
  display: inline-block;
  position: relative;
  width: 28px; 
  height: 28px;
}

.paper-spinner-lite-0 #spinnerContainer.paper-spinner-lite {
  width: 100%;
  height: 100%;
  direction: ltr;
}

.paper-spinner-lite-0 #spinnerContainer.active.paper-spinner-lite {
  -webkit-animation: container-rotate-paper-spinner-lite-0 1568ms linear infinite;
  animation: container-rotate-paper-spinner-lite-0 1568ms linear infinite;
}

@-webkit-keyframes container-rotate-paper-spinner-lite-0 {
to {
  -webkit-transform: rotate(360deg)
}
}

@keyframes container-rotate-paper-spinner-lite-0 {
to {
  transform: rotate(360deg)
}
}

.paper-spinner-lite-0 .spinner-layer.paper-spinner-lite {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  white-space: nowrap;
  border-color: #147;
}

.paper-spinner-lite-0 .layer-1.paper-spinner-lite {
  border-color: #025;
}

.paper-spinner-lite-0 .layer-2.paper-spinner-lite {
  border-color: #147;
}

.paper-spinner-lite-0 .layer-3.paper-spinner-lite {
  border-color: #628cb6;
}

.paper-spinner-lite-0 .layer-4.paper-spinner-lite {
  border-color: #abc8e4;
}

.paper-spinner-lite-0 .active.paper-spinner-lite .spinner-layer.paper-spinner-lite {
  -webkit-animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  opacity: 1;
}

.paper-spinner-lite-0 .active.paper-spinner-lite .spinner-layer.layer-1.paper-spinner-lite {
  -webkit-animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, layer-1-fade-in-out-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, layer-1-fade-in-out-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.paper-spinner-lite-0 .active.paper-spinner-lite .spinner-layer.layer-2.paper-spinner-lite {
  -webkit-animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, layer-2-fade-in-out-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, layer-2-fade-in-out-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.paper-spinner-lite-0 .active.paper-spinner-lite .spinner-layer.layer-3.paper-spinner-lite {
  -webkit-animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, layer-3-fade-in-out-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, layer-3-fade-in-out-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.paper-spinner-lite-0 .active.paper-spinner-lite .spinner-layer.layer-4.paper-spinner-lite {
  -webkit-animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, layer-4-fade-in-out-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, layer-4-fade-in-out-paper-spinner-lite-0 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

@-webkit-keyframes fill-unfill-rotate-paper-spinner-lite-0 {
12.5% {
  -webkit-transform: rotate(135deg);
}

25% {
  -webkit-transform: rotate(270deg);
}

37.5% {
  -webkit-transform: rotate(405deg);
}

50% {
  -webkit-transform: rotate(540deg);
}

62.5% {
  -webkit-transform: rotate(675deg);
}

75% {
  -webkit-transform: rotate(810deg);
}

87.5% {
  -webkit-transform: rotate(945deg);
}

to {
  -webkit-transform: rotate(1080deg);
}
}

@keyframes fill-unfill-rotate-paper-spinner-lite-0 {
12.5% {
  transform: rotate(135deg);
}

25% {
  transform: rotate(270deg);
}

37.5% {
  transform: rotate(405deg);
}

50% {
  transform: rotate(540deg);
}

62.5% {
  transform: rotate(675deg);
}

75% {
  transform: rotate(810deg);
}

87.5% {
  transform: rotate(945deg);
}

to {
  transform: rotate(1080deg);
}
}

@-webkit-keyframes layer-1-fade-in-out-paper-spinner-lite-0 {
from {
  opacity: 0.99;
}

25% {
  opacity: 0.99;
}

26% {
  opacity: 0;
}

89% {
  opacity: 0;
}

90% {
  opacity: 0.99;
}

100% {
  opacity: 0.99;
}
}

@keyframes layer-1-fade-in-out-paper-spinner-lite-0 {
from {
  opacity: 0.99;
}

25% {
  opacity: 0.99;
}

26% {
  opacity: 0;
}

89% {
  opacity: 0;
}

90% {
  opacity: 0.99;
}

100% {
  opacity: 0.99;
}
}

@-webkit-keyframes layer-2-fade-in-out-paper-spinner-lite-0 {
from {
  opacity: 0;
}

15% {
  opacity: 0;
}

25% {
  opacity: 0.99;
}

50% {
  opacity: 0.99;
}

51% {
  opacity: 0;
}
}

@keyframes layer-2-fade-in-out-paper-spinner-lite-0 {
from {
  opacity: 0;
}

15% {
  opacity: 0;
}

25% {
  opacity: 0.99;
}

50% {
  opacity: 0.99;
}

51% {
  opacity: 0;
}
}

@-webkit-keyframes layer-3-fade-in-out-paper-spinner-lite-0 {
from {
  opacity: 0;
}

40% {
  opacity: 0;
}

50% {
  opacity: 0.99;
}

75% {
  opacity: 0.99;
}

76% {
  opacity: 0;
}
}

@keyframes layer-3-fade-in-out-paper-spinner-lite-0 {
from {
  opacity: 0;
}

40% {
  opacity: 0;
}

50% {
  opacity: 0.99;
}

75% {
  opacity: 0.99;
}

76% {
  opacity: 0;
}
}

@-webkit-keyframes layer-4-fade-in-out-paper-spinner-lite-0 {
from {
  opacity: 0;
}

65% {
  opacity: 0;
}

75% {
  opacity: 0.99;
}

90% {
  opacity: 0.99;
}

100% {
  opacity: 0;
}
}

@keyframes layer-4-fade-in-out-paper-spinner-lite-0 {
from {
  opacity: 0;
}

65% {
  opacity: 0;
}

75% {
  opacity: 0.99;
}

90% {
  opacity: 0.99;
}

100% {
  opacity: 0;
}
}

.paper-spinner-lite-0 .gap-patch.paper-spinner-lite {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

.paper-spinner-lite-0 .gap-patch.paper-spinner-lite .circle.paper-spinner-lite {
  width: 1000%;
  left: -450%;
}

.paper-spinner-lite-0 .circle-clipper.paper-spinner-lite {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

.paper-spinner-lite-0 .circle-clipper.paper-spinner-lite .circle.paper-spinner-lite {
  width: 200%;
}

.paper-spinner-lite-0 .circle.paper-spinner-lite {
  box-sizing: border-box;
  height: 100%;
  border-width: 3px; 
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  -webkit-animation: none;
  animation: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.paper-spinner-lite-0 .circle-clipper.left.paper-spinner-lite .circle.paper-spinner-lite {
  border-right-color: transparent !important;
  -webkit-transform: rotate(129deg);
  transform: rotate(129deg);
}

.paper-spinner-lite-0 .circle-clipper.right.paper-spinner-lite .circle.paper-spinner-lite {
  left: -100%;
  border-left-color: transparent !important;
  -webkit-transform: rotate(-129deg);
  transform: rotate(-129deg);
}

.paper-spinner-lite-0 .active.paper-spinner-lite .circle-clipper.left.paper-spinner-lite .circle.paper-spinner-lite {
  -webkit-animation: left-spin-paper-spinner-lite-0 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: left-spin-paper-spinner-lite-0 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.paper-spinner-lite-0 .active.paper-spinner-lite .circle-clipper.right.paper-spinner-lite .circle.paper-spinner-lite {
  -webkit-animation: right-spin-paper-spinner-lite-0 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: right-spin-paper-spinner-lite-0 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

@-webkit-keyframes left-spin-paper-spinner-lite-0 {
from {
  -webkit-transform: rotate(130deg);
}

50% {
  -webkit-transform: rotate(-5deg);
}

to {
  -webkit-transform: rotate(130deg);
}
}

@keyframes left-spin-paper-spinner-lite-0 {
from {
  transform: rotate(130deg);
}

50% {
  transform: rotate(-5deg);
}

to {
  transform: rotate(130deg);
}
}

@-webkit-keyframes right-spin-paper-spinner-lite-0 {
from {
  -webkit-transform: rotate(-130deg);
}

50% {
  -webkit-transform: rotate(5deg);
}

to {
  -webkit-transform: rotate(-130deg);
}
}

@keyframes right-spin-paper-spinner-lite-0 {
from {
  transform: rotate(-130deg);
}

50% {
  transform: rotate(5deg);
}

to {
  transform: rotate(-130deg);
}
}

.paper-spinner-lite-0 #spinnerContainer.cooldown.paper-spinner-lite {
  -webkit-animation: container-rotate-paper-spinner-lite-0 1568ms linear infinite, fade-out-paper-spinner-lite-0 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
  animation: container-rotate-paper-spinner-lite-0 1568ms linear infinite, fade-out-paper-spinner-lite-0 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

@-webkit-keyframes fade-out-paper-spinner-lite-0 {
from {
  opacity: 0.99;
}

to {
  opacity: 0;
}
}

@keyframes fade-out-paper-spinner-lite-0 {
from {
  opacity: 0.99;
}

to {
  opacity: 0;
}
}
</style>

<style scope="iron-image-0">
.iron-image-0 {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.iron-image-0 #sizedImgDiv.iron-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.iron-image-0 #img.iron-image {
  display: block;
  width: 100%;
  height: auto;
}

.iron-image-0[sizing] #sizedImgDiv.iron-image {
  display: block;
}

.iron-image-0[sizing] #img.iron-image {
  display: none;
}

.iron-image-0 #placeholder.iron-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  opacity: 1;;
}

.iron-image-0 #placeholder.faded-out.iron-image {
  transition: opacity 0.5s linear;
        opacity: 0;
}
</style>

<style scope="paper-card-0">
.paper-card-0 {
  display: block;
  position: relative;
}

.paper-card-0[elevation="1"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.paper-card-0[elevation="2"] {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.paper-card-0[elevation="3"] {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.paper-card-0[elevation="4"] {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.paper-card-0[elevation="5"] {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
              0  6px 30px 5px rgba(0, 0, 0, 0.12),
              0  8px 10px -5px rgba(0, 0, 0, 0.4);
}

.paper-card-0[animated] {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-card-0 {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 2px;font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;;
}

.paper-card-0 [hidden].paper-card {
  display: none !important;
}

.paper-card-0 .header.paper-card {
  position: relative;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;;
}

.paper-card-0 .header.paper-card iron-image.paper-card {
  width: 100%;
  pointer-events: none;;
}

.paper-card-0 .header.paper-card .title-text.paper-card {
  padding: 16px;
  font-size: 24px;
  font-weight: 400;
  color: #000;;
}

.paper-card-0 .header.paper-card .title-text.over-image.paper-card {
  position: absolute;
  bottom: 0px;;
}

.paper-card-0  .card-content {
  padding: 16px;
  position:relative;;
}

.paper-card-0  .card-actions {
  border-top: 1px solid #e8e8e8;
  padding: 5px 16px;
  position:relative;;
}
</style>

<style scope="map-programs-service">
map-programs-service {
  display: none;
}
</style>

<style scope="map-navigation-0">
.map-navigation-0 {
  display: block;
}

.map-navigation-0 .main.map-navigation {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.map-navigation-0 .sublist.map-navigation paper-item.map-navigation {
  padding-left: 30px;
}

.map-navigation-0 .sublist2.map-navigation paper-item.map-navigation {
  padding-left: 50px;
}

.map-navigation-0 paper-item.map-navigation {
  ;
}

.map-navigation-0 paper-item-body.map-navigation {
  ;
}
</style>

<style scope="paper-fab-0">
.paper-fab-0 {
  display: block;
  position: relative;
}

.paper-fab-0[elevation="1"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.paper-fab-0[elevation="2"] {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.paper-fab-0[elevation="3"] {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.paper-fab-0[elevation="4"] {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.paper-fab-0[elevation="5"] {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
              0  6px 30px 5px rgba(0, 0, 0, 0.12),
              0  8px 10px -5px rgba(0, 0, 0, 0.4);
}

.paper-fab-0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;-ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #FFC107;
  border-radius: 50%;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  height: 56px;
  min-width: 0;
  outline: none;
  padding: 16px;
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 56px;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;;
}

.paper-fab-0 [hidden].paper-fab {
  display: none !important;
}

.paper-fab-0[mini] {
  width: 40px;
  height: 40px;
  padding: 8px;;
}

.paper-fab-0[disabled] {
  color: #9e9e9e;
  background: #e0e0e0;;
}

.paper-fab-0 iron-icon.paper-fab {
  ;
}

.paper-fab-0 span.paper-fab {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.paper-fab-0.keyboard-focus {
  background: #00bcd4;
}
</style>

<style scope="marked-element">
.hidden.marked-element {
  display: none !important;
}
</style>

<style scope="map-edit-service">
map-edit-service {
  display: block;
}
</style>

<style scope="paper-dialog-0">
.paper-dialog-0 {
  display: block;
  margin: 24px 40px;

  background: #FFFFFF;
  color: #212121;font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
              0  6px 30px 5px rgba(0, 0, 0, 0.12),
              0  8px 10px -5px rgba(0, 0, 0, 0.4);border-radius: 1em 1em 0.5em 0.5em;
}

.paper-dialog-0  &gt; * {
  margin-top: 20px;
  padding: 0 24px;
}

.paper-dialog-0  &gt; .no-padding {
  padding: 0;
}

.paper-dialog-0  &gt; *:first-child {
  margin-top: 24px;
}

.paper-dialog-0  &gt; *:last-child {
  margin-bottom: 24px;
}

.paper-dialog-0  h2 {
  position: relative;
  margin: 0;font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #147;
  color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.paper-dialog-0  .buttons {
  position: relative;
  padding: 8px 8px 8px 24px;
  margin: 0;
  color: #147;display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;-ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
</style>

<style scope="paper-dialog-scrollable-0">
.paper-dialog-scrollable-0 {
  display: block;position: relative;
}

.paper-dialog-scrollable-0.is-scrolled:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #B6B6B6;
}

.paper-dialog-scrollable-0.can-scroll:not(.scrolled-to-bottom):not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #B6B6B6;
}

.paper-dialog-scrollable-0 .scrollable.paper-dialog-scrollable {
  padding: 0 24px;-webkit-overflow-scrolling: touch;
  overflow: auto;;
}

.paper-dialog-scrollable-0 .fit.paper-dialog-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>

<style scope="map-section-edit">
map-section-edit {
  display: block;
}

.hidden.map-section-edit {
  display: none;
}
</style>

<style scope="map-optional-section-0">
.map-optional-section-0 {
  display: block;
  width: 100%;display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.map-optional-section-0 paper-card.map-optional-section {
  margin: 8px 0;
  padding: 1.5em;
}

.map-optional-section-0 .right-align.map-optional-section {
  float: right;
}

.map-optional-section-0 .horizontal.map-optional-section {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.map-optional-section-0 .horizontal.map-optional-section&gt;*.map-optional-section {
  margin-left: 10px;
}

.map-optional-section-0 .add-section.map-optional-section {
  background-color: rgba(0,0,0,0.06);
  color: #BDBDBD;
  border: thick dashed #BDBDBD;
  font-size: 18px;
  padding: 1em;
  margin: 24px 0;
  cursor: pointer;
  text-transform: uppercase;
}
</style>

<style scope="map-header-edit">
map-header-edit {
  display: block;
}

paper-fab.map-header-edit {
  position: absolute;
  right: 25px;
}

div.fixed-width.map-header-edit {
  width: 800px;
}
</style>

<style scope="map-custom-sections-edit-0">
.map-custom-sections-edit-0 {
  display: block;display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.map-custom-sections-edit-0 paper-card.map-custom-sections-edit {
  margin: 8px 0;
  padding: 1.5em;
}

.map-custom-sections-edit-0 paper-fab.map-custom-sections-edit {
  display: inline-block;
}

.map-custom-sections-edit-0 .add-section.map-custom-sections-edit {
  background-color: rgba(0,0,0,0.06);
  color: #BDBDBD;
  border: thick dashed #BDBDBD;
  font-size: 18px;
  padding: 1em;
  margin: 24px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.map-custom-sections-edit-0 [data-hide="hidden"].map-custom-sections-edit {
  display: none;
}

.map-custom-sections-edit-0 div.right-aligned.map-custom-sections-edit {
  float: right;
}
</style>

<style scope="map-requirement">
map-requirement {
  display: block;
}

.indent.map-requirement {
  margin-left: 20px;
}

a.map-requirement {
  text-decoration: none;
  color: #0074BD;
}

.course-listing.map-requirement {
  width: 400px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

.course-listing.map-requirement:after {
  content: "";
  display: block;
  clear: both;
}

.course-hours.map-requirement {
  position: absolute;
  right: 0;
  top: 0;
}

.r-course-label.map-requirement {
  display: block;
}

h2.map-requirement {
  font-size: 16px;
  line-height: 24px;
  background-color: #E0ECF9;
  padding: 5px 7px;
}

.header-note.map-requirement {
  padding: 8px 16px;
  color: #666;
  font-style: italic;
}

.completion.map-requirement {
  color: #444;
  font-weight: normal;
  margin-left: 10px;
}
</style>

<style scope="map-program-requirements">
map-program-requirements {
  display: block;
}
</style>

<style scope="map-ge-requirement-edit">
map-ge-requirement-edit {
  display: block;
}

.medium-large.map-ge-requirement-edit {
  width: 600px;
}

.medium-tall.map-ge-requirement-edit {
  margin-top: 20px;
  padding-bottom: 30px;
}

.large-text.map-ge-requirement-edit {
  font-size: 130%;
}

.align-right.map-ge-requirement-edit {
  position: absolute;
  right: 25px;
}

.align-right.map-ge-requirement-edit:after {
  content: "";
  display: block;
  clear: both;
}
</style>

<style scope="map-ge-requirements">
map-ge-requirements {
  display: block;
}

.fixed-width.map-ge-requirements {
  width: 500px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

.fixed-width.map-ge-requirements:after {
  content: "";
  display: block;
  clear: both;
}

.right-align.map-ge-requirements {
  position: absolute;
  right: 0;
  top: 0;
}

.editable.map-ge-requirements {
  color: #0074BD;
  cursor: pointer;
}
</style>

<style scope="map-sequence-semester-0">
.map-sequence-semester-0 {
  display: block;
}

.map-sequence-semester-0 .suggestion.map-sequence-semester {
  width: 350px;
  border-bottom: thin solid lightgrey;
  position: relative;
}

.map-sequence-semester-0 .suggestion.map-sequence-semester:after {
  content: "";
  display: block;
  clear: both;
}

.map-sequence-semester-0 .add-suggestion.map-sequence-semester {
  width: 350px;
  background-color: rgba(0,0,0,0.06);
  color: #BDBDBD;
  border: 2px dashed #BDBDBD;
  padding: 4px;
  margin: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.map-sequence-semester-0 .right-align.map-sequence-semester {
  position: absolute;
  right: 0;
  top: 0;
}

.map-sequence-semester-0 .right-float.map-sequence-semester {
  float: right;
}

.map-sequence-semester-0 .box.map-sequence-semester {
  background: white;
  border: 1px solid lightgrey;
  padding: 10px;
}

.map-sequence-semester-0 .horizontal.map-sequence-semester {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.map-sequence-semester-0 .horizontal.map-sequence-semester *.map-sequence-semester {
  margin-left: 3px;
}

.map-sequence-semester-0 .hidden.map-sequence-semester {
  display: none;
}

.map-sequence-semester-0 .suggestion.map-sequence-semester:hover &gt; .hidden.map-sequence-semester {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  z-index: 1;
}

.map-sequence-semester-0 .wide.map-sequence-semester {
  width: 600px;
}
</style>

<style scope="map-sequence-year">
map-sequence-year {
  display: block;
}
</style>

<style scope="map-suggested-sequence-0">
.map-suggested-sequence-0 {
  display: block;
}

.map-suggested-sequence-0 .right-align.map-suggested-sequence {
  float: right;
}

.map-suggested-sequence-0 .wide.map-suggested-sequence {
  width: 800px;
}

.map-suggested-sequence-0 .horizontal.map-suggested-sequence {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.map-suggested-sequence-0 .horizontal.map-suggested-sequence *.map-suggested-sequence {
  margin-left: 3px;
}

.map-suggested-sequence-0 [data-hide="true"].map-suggested-sequence {
  display: none;
}
</style>

<style scope="map-edit-0">
.map-edit-0 {
  display: block;
}

.map-edit-0 .error[data-hidden].map-edit,.map-edit-0  .main[data-hidden].map-edit {
  display: none;
}

.map-edit-0 .main.map-edit {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.map-edit-0 .error.map-edit {
  margin: 25px, 0;
  padding: 25px;
  font-size: 200%;
  color: red;
}

.map-edit-0 paper-card.map-edit {
  margin: 8px 0;
  padding: 1.5em;
}

.map-edit-0 paper-fab.map-edit {
  position: absolute;
  right: 25px;
}

.map-edit-0 .add-section.map-edit {
  background-color: rgba(0,0,0,0.06);
  color: #BDBDBD;
  border: thick dashed #BDBDBD;
  font-size: 18px;
  padding: 1em;
  margin: 24px 0;
  cursor: pointer;
  text-transform: uppercase;
}
</style>

<style scope="map-preview">
map-preview {
  display: block;
}

#previewContainer.map-preview {
  font-family: Georgia serif;
}

#previewContainer.map-preview h2.map-preview {
  background-color: white;
  color: black;
}

#closeButton.map-preview {
  position: absolute;
  right: -25px;
  top: -50px;
}
</style>

<style scope="map-app-0">
.map-app-0 {
  display: block;
}

.map-app-0 paper-scroll-header-panel.map-app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eeeeee;
}

.map-app-0 .content.map-app {
  padding: 8px;
}

.map-app-0 .spacer.map-app {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.map-app-0 .top.map-app {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.map-app-0 .horizontal-section.map-app {
  padding: 0;
}

.map-app-0 paper-card.map-app {
  margin: 8px;
}

.map-app-0 paper-icon-button.active.map-app {
  color: #FFC107;
}
</style>

<style>
body {transition: opacity ease-in 0.2s; } 
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; } 
</style>

 <!--
  ~  @license
  ~    Copyright 2016 Brigham Young University
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->
 <!--
  ~  @license
  ~
  ~    Copyright 2016 Brigham Young University
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->
 <!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
 <!--
@license
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
 <!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

 <style>
/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/
body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
</style>

<style include="shared-styles" is="custom-style">.page-title:not([style-scope]):not(.style-scope) {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -.018em;
  line-height: 48px;
}

body:not([style-scope]):not(.style-scope) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 600px) {
.page-title:not([style-scope]):not(.style-scope) {
  font-size: 24px!important;
}
}
</style>

