body{
/*	width:950px;*/
    background: #eee !important;
}
h1{
	margin:0px;
	font-size:24px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif
}
h2{
	margin:0px;
	font-size:20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif
}
p{
	margin:0px 0px 0px 0px;
	font-size:16px;
	color:#333;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif
}
tr:hover td, .pr-content-1:hover, .pr-note:hover, .pr-subheader-1:hover, .pr-subheader-2:hover, .gr-content-1:hover, .sequence-1:hover, .sequence-total-1:hover{
	background-color:#eee;
}
td{
	vertical-align:text-top;
}
.byu-footer, .byu-institutions, .byu-institutions-content, .byu-sibling-sites, .byu-sibling-site, .byu-sibling-link, .byu-church-site, .byu-church-link, .byu-copyright, .byu-copyright-link{
  color: #444;
  font-family: "Whitney SSm A","Whitney SSm B",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}
.byu-footer{
  background-color: #e8e8e8;
  border-top: 1px solid #ccc;
}
.byu-institutions{
  background-color: #d0d0d0;
  border-bottom-color: #d0d0d0;
  border-top: 1px solid white;
  padding: 1.5em 0 2em;
  text-align: center;
}
.byu-institutions-content{
  text-align: center;
}
.byu-sibling-sites{
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
}
.byu-sibling-site{
  display: inline-block;
  list-style: outside none none;
  padding: 0.1em 1%;
  white-space: nowrap;
}
.byu-sibling-link{
  color: #6b6a69;
  text-decoration: none;
  list-style: outside none none;
  white-space: nowrap;
}
.byu-church-site{
  text-align: center;
}
.byu-church-link{
  color: #6b6a69;
  text-decoration: none;
  text-align: center;
}
.byu-copyright{
  text-align: center;
  margin-top: 0.5em;
}
.byu-copyright-link{
  color: #6b6a69;
  text-decoration: none;
  text-align: center;
}
#university-core, #graduation-requirements, #program-requirements, #sequence, #other{
    -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
	background: #fff;
}
.other-header, .ucr-subheader p, .sequence-year p{
	background-color:#eee;
	text-align:center;
	font-size:18px;
}
.second-page-footer{
  clear: both;
  float: left;
  width: 50%;
  padding-top: 20px;
  text-align: center;
}
.second-page-footer p{
  color: #333;
  font-family: "Gill Sans","Gill Sans MT","Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.ucr-subheader p{
	margin-top:15px;
	margin-bottom:5px;
}
#header{
	margin-bottom:10px;
}
#wrapper{
	float:left;
	margin-right:10px;
}
#university-core{
	max-width:550px;
	padding:10px;
}
.university-core, tbody, tr, td{
	padding:0px;
}
.university-core-header, .graduation-header, .program-header, .sequence-header{
	text-align:center;
	text-transform: uppercase;
	font-weight:bold;
	color:#002957;
	margin-bottom:10px;
}
.ucr-header-1 p, .ucr-header-2 p, .ucr-header-3 p, .ucr-header-4 p{
	text-align:center;
	color:#888;
}
.ucr-header-3{
	text-align:right;
}
.ucr-header-4{
	padding-left:10px;
}
.ucr-content-1{
	padding-left:25px;
	text-indent:-13px;
}
.ucr-content-2{
	text-align:center;
}
.ucr-content-3{
	text-align:center;
	padding-left:10px;
}
.ucr-content-4{
	padding-left:10px;
}
#graduation-requirements{
/*	float:left;*/
	max-width:550px;
	margin-top: 10px;
	padding:10px;
}
.graduation-table{
	width:100%;
}
.gr-content-1{
}
.gr-content-2{
	padding-left: 30px;
}
#program-2{
	display:none;
}
#program-requirements{
	padding:10px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
#program-requirements-col{
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
	-webkit-column-width:400px;
	-moz-column-width:400px;
	column-width:400px;
}
.program-header{
	-webkit-column-span: all; /* Chrome, Safari, Opera */
    -moz-column-span: 10px; /* Firefox */
    column-span: all;
}
.program-credits{
	text-transform: lowercase;
}
.pr-course-list{
	width:100%;
}
.pr-note{
	padding-left:15px;
	padding-top:5px;
}
.pr-content-1{
	padding-right: 40px;
	padding-left:25px;
	text-indent:-13px;
}
.pr-content-2{
	float:right;
	margin-right:-30px;
}
.pr-subheader-1{
	padding-top:0px;
}
.pr-subheader-2{
	padding-left:15px;
}
.pr-subheader-3{
	padding-left:30px;
}
.pr-requirement{
	font-weight:bold;
}

.logo{
	height:50px;
	float:right;
	margin-right:40px;
	margin-top:10px;
}
#program-2{
	text-align:center;
}
#footer-page-1{
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	clear:both;
	page-break-after: always;
}
#sequence{
	max-width:550px;
	float:left;
	padding:10px;
	margin-right:10px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
#sequence-col{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}
.sequence-header{
	-webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}
.sequence-semester p{
	color:#aaa;
}
.sequence-block{
    display: block;
	-webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
}
.sequence-1{
	padding-left: 15px;
	padding-right: 40px;
    text-indent: -10px;
}
.sequence-2{
	float:right;
	margin-right:-30px;
}
.sequence-total-1{
	padding-left: 5px;
	padding-bottom:15px;
	padding-right: 40px;
	border-top:1px solid #ccc;
}
.sequence-total-2{
	padding-bottom:5px;
	margin-right:-30px;
	float:right;
}
.sequence-note{
	padding-right: 40px;
}

#other{
	padding:10px;
	-webkit-column-width:400px;
	-moz-column-width:400px;
	column-width:400px;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}
.other-body{
	margin-bottom:15px;
}
.contact{
	text-align:center;
	padding-top:20px;
}
#dept-contact{
	clear:both;
	width:50%;
	float:left;
}
#college-contact{
	width:50%;
	float:right;
}
@media screen and (max-width:1070px){
	#wrapper{
		float:none;
	}
	#program-requirements{
		max-width:550px;
		float: none;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
		margin-top:10px;
	}
	#footer-page-1{
		max-width:550px;
	}
	#university-core{
		width:100%;
		float:none;
	}
	#graduation-requirements{
		width:100%;
		float:none;
	}
	#sequence{
		float:none;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
	#other{
		margin-top:10px;
		max-width:550px;
		float:none;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
	#contacts{
		max-width:550px;
	}
	#dept-contact{
		float:left;
		min-width:200px;
	}
	#college-contact{
		float:left;
		min-width:200px;
	}
}
