  <footer class="byu-footer" id="page-footer">
    <div class="byu-institutions" id="footer-institutions">
      <div class="byu-institutions-content" id="footer-institutions-content">
        <ul class="byu-sibling-sites" id="sibling-sites">
          <li class="byu-sibling-site"><a class="byu-sibling-link" href="http://www.byui.edu/" target="_blank">BYU–Idaho</a></li>
          <li class="byu-sibling-site"><a class="byu-sibling-link" href="http://www.byuh.edu/" target="_blank">BYU–Hawaii</a></li>
          <li class="byu-sibling-site"><a class="byu-sibling-link" href="http://www.ldsbc.edu/" target="_blank">LDS Business College</a></li>
          <li class="byu-sibling-site"><a class="byu-sibling-link" href="http://ce.byu.edu/sl/" target="_blank">Salt Lake Center</a></li>
          <li class="byu-sibling-site"><a class="byu-sibling-link" href="http://ce.byu.edu/jc/" target="_blank">Jerusalem Center</a></li>
          <li class="byu-sibling-site"><a class="byu-sibling-link" href="http://www.mtc.byu.edu/" target="_blank">Missionary Training Center</a></li>
        </ul>
        <div class="byu-church-site" id="church"><a class="byu-church-link" href="http://www.lds.org/" target="_blank">The Church of Jesus Christ of Latter-day Saints</a></div>
        <div class="byu-copyright" id="copyright"><a class="byu-copyright-link" href="http://home.byu.edu/home/copyright">Copyright © 2016. All Rights Reserved.</a></div>
      </div>
    </div>
  </footer>
</div>

  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script>

  function printToPdf2() {
    var doc = new jsPDF('l', 'mm', 'a3', false);

    // We'll make our own renderer to skip this editor
    var specialElementHandlers = {
      '#editor': function(element, renderer){
        return true;
      }
    };
    source = $('#map-content').get(0);
    doc.fromHTML(source, 5, 5, {
      'width': 470, 
      'elementHandlers': specialElementHandlers,
      pagesplit: false
    });
    doc.output('dataurlnewwindow');
  }

  function printToPdf(id)
  {
    var ele = document.getElementById(id);
    var text = ele.outerHTML;
    if (text.indexOf('<') >= 0 || text.toLowerCase().indexOf('url=') < 0)
    {
      return CollinsPDF('',text);
    }
    CollinsPDF(text);
  }
  </script>
  </body>
</html>
