<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta charset="ISO-8859-1">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/maps.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
  <script type="text/javascript" src="http://code.jquery.com/jquery-compat-git.js"></script>
  <script type="text/javascript" src="/js/CollinsPdf.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ .Title }}</title>
</head>

<body>
  <div id="index-banner" class="parallax-container" width="100%">
    <div class="section no-pad-bot" width="100%">
      <div class="container" style="text-align: center;" width="100%">
        <h1 class="header teal-text text-lighten-2"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1>
      </div>
    </div>
  </div>
