{{ $baseurl := .Site.BaseURL }}
<hr/>
<div id="map-list" class="row" style="background: #fff none repeat scroll 0 0">
<div class="row">
{{ with (index .Site.Data.maps (substr $.File.LogicalName 0 -3)) }}
<div id="map-content">
  <div>{{ .header }}</div>
  <div>{{ .headNotes }}</div>
  <div>{{ .requirementsTable }}</div>
</div>
{{ end }}
</div>
</div>
