  <div>
    <a href="javascript:printToPdf2()" class="button">Download PDF2</a>
  </div>
  <div>
    <input type="button" value="Download PDF" onclick="printToPdf('map-content')">
  </div>
  <hr/>
